* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #c0c0c0;
    --secondary-color: #024e76;
    --tertiary-color: #004d13;
}
body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.section-title {
    font-size: 5vw;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 5px
    px;
    text-align: center;
    margin: 0px auto 35px auto;
    width: 40%;
}

/* HEADER STYLE */
header {
    padding: 20px 25px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav  {
margin: 7px 0px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
    /* HEADER STYLE END */

    /* HERO STYLE */

.hero {
    position: relative;
}

.hero h3{
    position: absolute;
    top: 80px;
    left: 16px;
    color: white;
    background-color: rgba(0, 0, 0, .5)
}

.hero img {
    width: 100%;
}
    /* HERO STLYE END */
 
    /* ABOUT SECTION STYLES */

.about-section {
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary-color)
}

.about-section p {
    flex-wrap: wrap;
}
    /* ABOUT SECTION STYLES END */

    /* WORK SECTION STYLES */

.work-section {
    padding: 20px;
    background-color: var(--primary-color)
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 20px;
    grid-auto-flow: dense;
    height: 350px;
  }

.grid-item {
    display: flex;
    justify-content: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;  
    color: white;
    opacity: .7;
}

.grid-item h4 {
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
}

.grid-item:hover {
    opacity: 1;
    transition: .5s;
}

.grid-item {
    background-size: cover;
    background-position: center;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    opacity: .7;
}

 .item-1 {
    grid-column: span 6;
    grid-row: span 6;
    background-image: url("../images/cinema.jpg");
 }

 .item-2 {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url("../images/weather-dash.png");
 }
 
 .item-3 {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url("../images/work-day-1.png");
 }
 .item-4 {
        grid-column: span 3;
        grid-row: span 3;
        background-image: url("../images/bbr-logo.jpg");
     }
 
 .item-5 {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url("https://f4.bcbits.com/img/0014733625_20.jpg");
 }

    /* WORK SECTION STYLES END */

    /* CONTACT SECTION STYLES */

.contact-section {
    padding: 20px;
    background-color: var(--primary-color)
}

.contact-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-section ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
    /* CONTACT SECTION STYLES END */


